<template>
  <panel title="Lyrics">
    <textarea
      readonly
      v-model="lyrics"/>
  </panel>
</template>

<script>
import Panel from '@/components/Panel'

export default {
  props: [
    'lyrics'
  ],
  components: {
    Panel
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
textarea {
  width: 100%;
  height: 600px;
  font-size: 12px;
  font-family: monospace;
  border: none;
}
</style>
