<template>
  <panel title="Youtube Video">
    <youtube-media 
      :video-id="youtubeId"
      player-width="400"
      player-height="209">
    </youtube-media>
  </panel>
</template>

<script>
import Panel from '@/components/Panel'

export default {
  props: [
    'youtubeId'
  ],
  components: {
    Panel
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
