<template>
  <v-layout>
    <v-flex xs4>
      <panel title="Song Metadata">
        <v-text-field
          v-model="song.title"
          label="Title"
          required
          :rules="[required]"
        ></v-text-field>

        <v-text-field
          v-model="song.artist"
          label="Artist"
          required
          :rules="[required]"
        ></v-text-field>

        <v-text-field
          v-model="song.genre"
          label="Genre"
          required
          :rules="[required]"
        ></v-text-field>

        <v-text-field
          v-model="song.album"
          label="Album"
          required
          :rules="[required]"
        ></v-text-field>

        <v-text-field
          v-model="song.albumImageUrl"
          label="Album Image URL"
          required
          :rules="[required]"
        ></v-text-field>

        <v-text-field
          v-model="song.youtubeId"
          label="Youtube ID"
          required
          :rules="[required]"
        ></v-text-field>
      </panel>
    </v-flex>

    <v-flex xs8>
      <panel title="Song Structure" class="ml-2">
        <v-text-field
          v-model="song.lyrics"
          label="Lyrics"
          required
          :rules="[required]"
          multi-line
        ></v-text-field>

        <v-text-field
          v-model="song.tab"
          label="Tab"
          required
          :rules="[required]"
          multi-line
        ></v-text-field>
      </panel>
      <div class="danger-alert" v-if="this.error">
        {{this.error}}
      </div>

      <v-btn
        class="cyan"
        dark
        @click="create">
        Create
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import Panel from '@/components/Panel'
import SongsService from '@/services/SongsService'

export default {
  data () {
    return {
      song: {
        title: null,
        artist: null,
        genre: null,
        album: null,
        albumImageUrl: null,
        youtubeId: null,
        lyrics: null,
        tab: null
      },
      error: null,
      required: (value) => !!value || 'This field is required!'
    }
  },
  methods: {
    async create () {
      // validate
      const areAllFieldFilled = Object
        .keys(this.song)
        .every(key => !!this.song[key])

      if (!areAllFieldFilled) {
        this.error = 'Please fill all the field!'
        return
      }

      // call API
      try {
        await SongsService.post(this.song)
        this.$router.push({
          name: 'songs'
        })
      } catch (err) {
        console.log('create song err: ', err)
      }
    }
  },
  components: {
    Panel
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
